[user]
	name = Charlie Harrington
  email = charlie@harrington.computer
  signingkey = D51A4BAF895B9CF04F9821C8834F444D67720C80

[alias]
  co = checkout
  st = status
  rh = reset HEAD
  rhh = reset --hard HEAD
  pu = pull
  up = push

[commit]
  verbose = true
  gpgsign = true

[init]
	defaultBranch = main

[pull]
	rebase = true
