[user]
	name = Charlie Harrington
  email = charlie@harrington.computer

[alias]
  co = checkout
  st = status
  rh = reset HEAD
  rhh = reset --hard HEAD
  pu = pull
  up = push

[commit]
	verbose = true

[init]
	defaultBranch = main

[pull]
	rebase = true
